.createChart {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  // min-width: 1000px;
  .wrapper {
    padding-top: 40px;
  }
}
.chartContainer {
  width: 100%;
  // height: 95vh;
  // min-width: 1000px;
  margin-top: 30px;
  select {
    width: 100px;
  }
  .chartConfig {
    position: relative;
  }
  // .chartConfig::after {
  //   content: "";
  //   background-image: url(../public/assets/background/chartBackground.png);
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   opacity: 0.08;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   pointer-events: none;
  // }
}
.chartMainContainer {
  margin-top: 10px;
  min-height: 400px;
  min-width: 1000px;
}
.chartConfig {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 260px;
  // height: 260px;

  p {
    margin: 0 0 15px 0;
  }
}
.chartSettings {
  animation: rightSlide 0.3s linear 1;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.yAxisLabel {
  text-anchor: middle;
  font-size: 20px;
}
.xAxisLabel {
  font-size: 20px;
}
.inputsLineContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 15px;
  min-width: 180px;
}
.containedInputs {
  height: auto;
  max-height: 135px;
  overflow-y: scroll;
  background-color: #ffffffab;
}
.containedDataName {
  max-height: 138px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.containedDataName:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.containedDataName:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.newLine {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: leftSlideLine 0.3s linear 1;
  background-color: #ffffffab;
  padding: 0 5px;
  height: 27px;
  button {
    cursor: pointer;
    border-radius: 50%;
  }
  svg,
  svg * {
    pointer-events: none;
  }
}
.containedInputsY {
  max-height: 135px;
}
.dataPointInputs {
  display: flex;
}
.selectAndAdd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 52px;
  button {
    height: 40px;
  }
}
.selectAndAdd div:first-child {
  margin: 0;
}
.yAxis,
.xAxis {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 135px;
  animation: middleExpand 0.3s linear 1;
  max-width: 300px;
}
.containedInputs {
  display: flex;
  align-items: center;

  p {
    align-self: flex-start;
  }
}
h4 {
  align-self: center;
  margin-top: 0;
}
h4.noName {
  animation: nameFlash 1s infinite;
}
.dataLabelContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.topChart,
.dataLabelContainer,
.inputsLineContainer {
  height: 100%;
}
.dataLineContainer {
  max-height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topChart {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  min-width: 210px;
}
.dataLabelTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  // position: relative;
}
.labelsXY {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.labelsXY > div:first-child,
.labelsXY > div:last-child {
  background-color: #ffffffab;
  // padding: 5px;
  border-radius: 10px;
  // height: 40px;
}
#menu- div ul {
  height: 300px;
}
.recharts-wrapper .recharts-legend-item {
  cursor: pointer;
  user-select: none;
  transition: all 0.1s linear;
}
// .recharts-wrapper .recharts-legend-item svg:hover {
//   transform: scale(1.3);
// }
.recharts-wrapper .recharts-legend-item svg:active {
  transform: scale(1.3);
}
.responsiveWrapper {
  width: 100%;
  overflow-x: scroll;
  background-color: #fffffffd;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 10vh;
  margin-top: 5vh;
}
@keyframes leftSlideLine {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightSlide {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes middleExpand {
  0% {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  100% {
    max-width: auto;
    max-height: auto;
    overflow: visible;
    visibility: visible;
  }
}
@keyframes nameFlash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
