.colorPicker {
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  z-index: 100;
  right: -100%;
  width: 400px;
  .sketch-picker {
    width: auto;
  }
}

.labelArrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  h4 {
    margin: 0 25px;
  }
  button {
    padding: 0;
  }
}

.newLine {
  display: flex;
  button {
    padding: 10px;
  }
}

.recharts-legend-item-text {
  color: black;
}
.chartSettings {
  height: 100%;
  width: 220px;
  min-width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin: 0 10px 0 0;
  }
  .gridOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  .labelsOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  .lineOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  .lineType {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    p {
      margin-top: 4px;
    }
  }
  .lineNullOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  .MuiFormGroup-root {
    display: flex;
    justify-content: center;

    label {
      margin: 0;
    }
  }
  .saveChart {
    display: flex;
    justify-content: flex-end;
  }
}
