.mainApp {
  width: 100%;
}
.mainContainer {
  display: flex;

  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  h1 {
    margin-bottom: 40px;
    margin-top: 20px;
    position: absolute;
    top: 10px;
  }
}
.chartTypes {
  width: 200px;
  margin-bottom: 50px;
  margin-top: 80px;
  background-color: #ffffffab;
  border-radius: 10px;
  position: relative;
  padding: 8px;
}
#welcomeVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
}
.chartExample {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.chartExampleText {
  width: 30%;
  p {
    background-color: #ffffffab;
    border-radius: 10px;
    position: relative;
    padding: 10px;
  }
}
.lineExample {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chartExampleImage {
  width: 60%;
  background-color: #ffffffab;
  border-radius: 10px;
  position: relative;
  img {
    width: 100%;
  }
}
.progressText {
  position: absolute;
  left: -50px;
  top: 15px;
  cursor: pointer;
}
