.mainApp {
  width: 100%;
}
.mainContainer {
  display: flex;

  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  h1 {
    margin-bottom: 40px;
    margin-top: 20px;
    position: absolute;
    top: 10px;
  }
}
.chartTypes {
  width: 200px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.chartExample {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.chartExampleText {
  width: 30%;
}
.lineExample {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chartExampleImage {
  width: 60%;
  img {
    width: 100%;
  }
}
