@media (max-width: 800px) {
  .navMain {
    height: 60px;
    button {
      height: 50px;
      font-size: 20px;
    }
    .navChartType {
      display: none;
    }
  }
  .chartContainer {
    margin-top: 50px;
  }
  .chartOptionsMain {
    top: 60px;
    height: 400px;
    .chartSettings {
      width: 350px;
      p {
        font-size: 24px;
      }
      #filled-basic {
        width: 80px;
        font-size: 24px;
      }
      .css-kgitkj {
        width: 80px;
      }
    }
    .lineType {
      .css-7tebp8-MuiFormGroup-root .MuiTypography-root {
        font-size: 24px;
      }
    }
  }
  .chartExample {
    flex-direction: column-reverse;
    align-items: center;
    .chartExampleText {
      width: 90%;
    }
    .lineExample {
      align-items: center;
    }
    .chartExampleImage {
      width: 90%;
      margin-bottom: 30px;
    }
  }
  .chartConfig {
    flex-direction: column;
    align-items: center;
  }
  .topChart {
    width: 100%;
  }
  .selectAndAdd {
    justify-content: space-around;
    div:first-child {
      width: 50px;
      font-size: 24px;
    }
    button {
      height: 55px;
      font-size: 20px;
    }
    .css-i4bv87-MuiSvgIcon-root {
      font-size: 44px;
    }
  }
  #menu- div ul li {
    font-size: 24px;
  }
  .inputsLineContainer {
    width: 100%;
    margin-top: 50px;
  }
  .containedDataName {
    max-height: 200px;
  }
  .labelsXY {
    justify-content: space-around;
  }
  .labelsXY div {
    height: 50px;
  }
  .labelsXY div div input {
    height: 50px;
    font-size: 22px;
  }
  .labelArrowContainer {
    margin-top: 50px;
    button {
      height: 30px;
      width: 80px;
    }
    .css-1d6wzja-MuiButton-startIcon > :nth-of-type(1) {
      font-size: 40px;
    }
    h4 {
      font-size: 24px;
      font-weight: 400;
    }
  }
  .newLine {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    button {
      border-radius: 5px;
      width: 40px;
      height: 40px;
    }
    div {
      width: 80%;
      height: 50px;
    }
    div input {
      font-size: 22px;
    }
  }
  .containedInputs {
    max-height: 200px;
  }
  .xAxis,
  .yAxis,
  .containedInputsY {
    max-height: 200px;
    width: 100%;
  }
  .dataPointInputs {
    height: 50px;
    width: 100%;
    div {
      height: 50px;
      width: 100%;
    }
    div input {
      font-size: 22px;
    }
  }
}
