.navMain {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  height: 40px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.navInner {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .navBack {
    margin: 0;
  }
}
.navChartType span {
  text-transform: capitalize;
  font-weight: bold;
}

// ********** CHART SETTINGS/OPTIONS **********
.chartSettings {
  height: 100%;
  right: 0;
  top: 0;
  width: 270px;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.2s linear;
  position: absolute;
  p {
    margin: 0;
  }
  .gridOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }
  .labelsOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }
  .valueOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }
  .rotateOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    position: relative;
  }
  .legendOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }
  .lineOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }
  .lineType {
    display: flex;
    justify-content: center;
    height: 25px;
    margin-top: 5px;
    p {
      margin-top: 4px;
    }
    .MuiFormGroup-root {
      width: 100%;
      justify-content: space-between;
    }
  }
  .rangeOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }
  .lineNullOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    position: relative;
  }
  .MuiFormGroup-root {
    display: flex;
    justify-content: center;

    label {
      margin: 0;
    }
  }
  .lineTicks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 25px;
  }
  #filled-basic {
    padding: 0;
    width: 50px;
    text-align: center;
  }
  .infoPopIconAbsolute {
    // position: absolute;
    cursor: pointer;
    right: 0;
    top: 4px;
    svg {
      transition: all 0.2s linear;
    }
    svg:hover {
      transform: scale(1.5);
    }
  }
  .textIcon {
    display: flex;
  }
}
.responsiveWrapper {
  position: relative;
}
.absoluteTickChange {
  position: absolute;
  left: 5px;
  width: 80px;
  z-index: 100;
  div {
    width: 100%;
    input {
      padding: 5px 0;
      text-align: center;
    }
  }
}
.chartOptionsMain {
  position: absolute;
  visibility: hidden;
  top: 50px;
  right: 0;
  height: 300px;
  z-index: 100;
}
.chartSettingsHide {
  height: 0px;
  position: absolute;
  // display: none;
  visibility: hidden;
  overflow: hidden;
}
.chartSettingsShow {
  position: relative;
  // display: block;
  visibility: visible;
  overflow: hidden;
}
