.mainContainer .svgTitle {
	font-family: 'Russo One', sans-serif;
  max-width: 1400px;
  margin-top: 20px;
}

.svgTitle text {
	text-transform: uppercase;
	animation: stroke 3s;
	stroke-width: 3;
	stroke: #365fa0;
	font-size: 140px;
  fill: rgba(72,138,204,1);
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}

	70%  {fill: rgba(19, 129, 192, 0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(26, 76, 185, 0.507); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}